.page-tip {
	position: absolute;
}
.page-tip.hide {
	display: none;
}
.page-tip .content {
	position: relative;
	line-height: 22px;
	min-width: 12px;
	padding: 8px 15px;
	font-size: 12px;
	float: left;
	border-radius: 2px;
	box-shadow: 1px 1px 3px rgba(0,0,0,.2);
	background-color: #000;
	color: #fff;
	white-space: nowrap;
}
.page-tip .triangle {
	position: absolute;
    width: 0;
    height: 0;
    border-width: 8px;
    border-color: transparent;
    border-style: dashed;
    border-bottom-style: solid;
    font-family: Bookman Old Style;
    line-height: 22px;
    font-size: 12px;
}
.page-tip.left.top {
	left: 100%;
	margin-left: 15px;
	bottom: 0;
}
.page-tip.left.top .triangle {
	top: 5px;
	left: -8px;
	border-bottom-color: #000;
}
.page-tip.bottom.right {
	right: 0;
	bottom: 10px;
}
.page-tip.bottom.right .triangle {
	bottom: -8px;
	left: 5px;
    border-right-style: solid;
    border-right-color: #000;
}